/* DESKTOP FIRST*/

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(153, 153, 153, .7);
}

.web-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.window{
  flex-grow: 1;
  display: flex;
  background: #141921;
}

.navbar-left ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px 0;  
}

.navbar-left li{
  margin: 5px 0;
}

/* STYLE */

h2, h4, h5 {
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(153, 153, 153, .7);
  transition: color .5s;
}

a:hover {
  color: #fff;
}

/* BUTTONS */
/* UTILITIES */

.txt-center {
  text-align: center;
}

/* NAVBAR LEFT */
.navbar-left {
  display: flex;
  flex-basis: 230px;
  flex-direction: column;
  padding-top: 20px;
  background-color: black;
}

.navbar-left-menu {
  flex-grow: 1;
}

.navbar-left-menu h5 {
  margin-left: 20px;
}

.navbar-left-menu .navbar-logo {
  margin-left: 20px;
  max-width: 130px;
}

.navbar-left-menu .navbar-logo.mobile {
  height: 40px;
  display: none;
}

.navbar-left-menu ul li{
  padding: 0 20px;
  border-left: solid 1px transparent;
  transition: border .5s;
}

.navbar-left-menu ul li:hover {
  border-left: solid 4px #81b71a;
}

.navbar-left-menu ul li .fa-plus {
  background: #fff;
  color: #000;
  font-size: 20px;
  padding: 10px;
  margin-right: 5px;
}

.navbar-left-menu ul img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.navbar-left-menu .nav span {
  display: inline-block;
  vertical-align: middle;
}

.navbar-left-user {
  padding: 20px 20px 0;
}

.navbar-left-menu ul li {
  padding: 0 20px;
}

.navbar-left-user .install {
  text-align: center;
  display: inline-block;
}

.navbar-left-user .user {
  display: flex;
  align-items: center;
}

.navbar-left-user i {
  margin-right: 5px;
}

.navbar-left-user .install {
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
}

.navbar-left-user .user {
  display: flex;
  align-items: center;
  border-top: solid 1px #999;
  padding: 15px 0 10px;
}

.navbar-left-user .user img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background: #999;
  border-radius: 50%;
}

.navbar-left-user .user h6 {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}

.user .a{
  align-items: center;
}

.playlist{
  margin-bottom: 10px;
  overflow-y: auto;
  height: 60%;
}

/* SCROLL WINDOW */
.scroll-container {
  position: relative;
  flex-grow: 1;
}

.scroll-header {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
}

/* CONTENT */

.scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

ul.h-list {
  display: flex;
  align-items: center;
  list-style: none
}

.cards-row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  width: calc((100% / 6) - 20px);
}

.img-album {
  position: relative;
}

/* FOOTER */

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-song {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 230px;
}

.player-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 40%
}

.player-volume {
  display: flex;
  justify-content:flex-end;
}

/* MEDIA QUERY */

/* GENE */

/* TABLET */

@media screen and (max-width: 1024px){

  .cards-item {
    width: calc((100% / 4) - 20px);
  }

  h2{
    font-size: 26px;
  }

  h4{
    font-size: 18px;
  }

}

/* SMARTPHONE */

@media screen and (max-width: 600px){
  .navbar-left {
    flex-basis: 60px
  }

  .cards-item {
    width: calc((100% / 2) - 20px);
  }

  .navbar-left {
    flex-basis: 60px
  }

  .navbar-left-menu .nav span,
  .navbar-left-menu h5,
  .navbar-left-menu .playlist,
  .navbar-left-user span,
  .navbar-left-user h6,
  .navbar-left-menu .navbar-logo.desktop {
    display: none;
  }

  .navbar-left-user {
    text-align: center;
  }

  .navbar-left-user .user {
    border-top: none;
  }

  .navbar-left-user .user img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-left-menu .navbar-logo.mobile {
    display: block;
  }
}